.top-panel {
  color: #d3d3d3;
  padding: 0 10px;
  padding-bottom: 6px;
  margin-bottom: 10px;
  border-bottom: 1px white inset;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 14px;
  width: 100%;
  font-weight: bold;
}
.infos {
  float: right;
  text-align: center;
}
.infos li {
  display: inline;
  padding: 5px;
  margin-right: 5px;
}
.nav {
  /*background: #34495e;*/
  padding-top: 10px;
  border-bottom: 1px solid black;
}
.nav-bar {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-header {
  color: #d3d3d3;
  text-decoration: none;
  font-size: 19px;
  font-weight: bold;
}
.nav-header:hover {
  text-decoration: none;
}

.nav-ul li {
  color: #d3d3d3;
  display: inline;
  border-left: 2px solid;
  padding: 15px;
  font-size: 12px;
  font-weight: bold;
}

.nav-ul li a {
  text-decoration: none;
  color: #d3d3d3;
}

.nav-ul li a:hover {
  color: #c4c4c4;
  padding-right: 30px;
  transition: 1s;
}
.search-area {
  /*background-color: #34495e;*/
}

.search-area li {
  display: inline;
  color: #d3d3d3;
  padding: 0 5px;
}
.search-button {
  background: none;
  outline: none;
  border: none;
  /*background: #34495e;*/
  color: #d3d3d3;
}

.form-control {
  width: 50%;
  display: inline;
}
